<ion-header>
  <ion-toolbar>
      <ion-buttons right>
          <button ion-button (click)="refresh()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title class="center" id="pagetitle">
      Project Page
      <ion-icon name="filing"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
    <ion-label id="projtitle" class="center">{{p.name}}</ion-label>
    
    <progress-bar [progress]="progressBar"></progress-bar>

    <p class="center"><strong>{{p.goal}}€ goal!</strong> {{p.progress}}€ donated.</p> 
    <p class="center time"><strong>{{time}}</strong></p>
    <div class="centerbtn">
    <button ion-button (click)="follow()" color="dark" [hidden]="isFollowed() || isOwned()">Follow</button>
    <button ion-button (click)="follow()" color="dark" [hidden]="!isFollowed() || isOwned()">Unfollow</button>
</div>

<p class="center error" [hidden]="error == ''"><strong>{{error}}</strong></p>

  <ion-label class="title" [hidden]="isOwned()">Donations</ion-label>

    <form (ngSubmit)="donate()" [hidden]="isOwned()">
      <ion-item>
        <ion-label color="primary" stacked>Donation value (€)</ion-label>
        <ion-input type="number" [(ngModel)]="donation" name="donation" placeholder="Donation value here"></ion-input>
      </ion-item>
      <button class="sidebtn" ion-button color="dark" type="submit">Donate</button>
    </form>

    <div class="sep" [hidden]="isOwned()"></div>

    <ion-label class="title">Description</ion-label>

    <p class="sidetext">{{p.description}}</p>

    <div class="sep"></div>

    <ion-label class="title">Milestones</ion-label>
    
    <ion-item [hidden]="p.milestones.length > 0" text-wrap>    
      <p><strong>No milestones have been set!</strong></p>
    </ion-item>

    <ion-item *ngFor="let m of milestoneList" text-wrap>
      <p> <ion-icon name="trophy"></ion-icon>
        <strong>{{m.k}} - {{m.v}}</strong></p>
    </ion-item>

    <form (ngSubmit)="addMilestone()" [hidden]="!isOwned()">
      <ion-item>
          <ion-label color="primary" stacked>Milestone value (€)</ion-label>
          <ion-input type="number" [(ngModel)]="mvalue" name="mvalue" placeholder="Milestone value here"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Brief milestone description</ion-label>
            <ion-input type="text" [(ngModel)]="mdesc" name="mdesc" placeholder="Milestone text here"></ion-input>
          </ion-item>
    <button ion-button color="dark" class="sidebtn" type="submit">Add</button>
    </form>

    <div class="sep"></div>

    <ion-label class="title">Comments</ion-label>
    <ion-item [hidden]="p.comments.length > 0" text-wrap>
      <p><strong>No comments for this project.</strong></p>
    </ion-item>

    <ion-item *ngFor="let c of commentsList" text-wrap>
        <p> <ion-icon name="create"></ion-icon>
          Posted by <strong>{{c.user}}</strong> on <span class="date">{{c.date}}</span></p>
          <p>{{c.content}}</p>
      </ion-item>

    <form (ngSubmit)="addComment()">
      <ion-item>
          <ion-label color="primary" stacked>Comment text</ion-label>
          <ion-input type="text" [(ngModel)]="cmt" name="cmt" placeholder="Write a comment here"></ion-input>
        </ion-item>
    <button ion-button color="dark" class="sidebtn" type="submit">Submit</button>
    </form>
</ion-content>
