<ion-header>
    <ion-toolbar>
        <ion-buttons right>
          <button ion-button (click)="refresh()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          Your GoCommunity Feed
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
  <p><strong>{{error}}</strong></p>

  <ion-label>Your projects</ion-label>
  <ion-item [hidden]="ownData.length > 0" text-wrap>
    <p><strong>You haven't started any projects!</strong></p>
  </ion-item>
  <button ion-item (click)="visitProject(p)" *ngFor="let p of ownData" text-wrap>
    <p><strong>{{p.name}} - {{p.progress}}€ / {{p.goal}}€ - Ends on {{p.endsOn}}</strong></p>
  </button>

  <ion-label>Followed projects</ion-label>
  <ion-item [hidden]="followData.length > 0" text-wrap>
    <p><strong>You haven't followed any projects!</strong></p>
  </ion-item>
  <button ion-item (click)="visitProject(p)" *ngFor="let p of followData" text-wrap>
    <p><strong>{{p.name}} - {{p.progress}}€ / {{p.goal}}€ - Ends on {{p.endsOn}}</strong></p>
  </button>

  <ion-label>Popular projects</ion-label>
  <ion-item [hidden]="popularData.length > 0" text-wrap>
    <p><strong>There aren't any other projects!</strong></p>
  </ion-item>
  <button ion-item (click)="visitProject(p)" *ngFor="let p of popularData" text-wrap>
    <p><strong>{{p.name}} - {{p.progress}}€ / {{p.goal}}€ - Ends on {{p.endsOn}}</strong></p>
  </button>
</ion-content>
